#goodsHeader .sp .category { display: none; }

#datalist .xiangq { margin: 10px 0; }

#datalist .xiangq .fenlei1 li { float: left; position: relative; width: 150px; line-height: 24px; border: 1px solid #ccc; margin-right: 15px; font-size: 12px; color: #666; text-align: center; }

#datalist .xiangq .fenlei1 li i { display: inline-block; width: 15px; height: 15px; background: url("../images/sprite.fw.png") no-repeat -27px 0; position: absolute; top: 5px; right: 10px; }

#datalist .xiangq .fenlei1 li .fenlei2 { display: none; position: absolute; width: 150px; top: 24px; left: -1px; }

#datalist .xiangq .fenlei1 li .fenlei2 li { border: 1px solid #ccc; border-top: none; border-bottom-style: dashed; }

#datalist .xiangq .fenlei1 li .fenlei2 li a { color: #427fd2; }

#datalist .xiangq .fenlei1 li .fenlei2 li:hover a { color: #000; }

#datalist .xiangq .fenlei1 li .fenlei2 li:hover { background: #999; }

#datalist .xiangq .fenlei1 li:hover .fenlei2 { display: block; }

#datalist .xiangq .fenlei1 li:last-child { border: 0 none; }

#datalist .gmd { min-height: 550px; padding-top: 20px; }

#datalist .gmd .gmd_l { width: 450px; margin-top: 60px; }

#datalist .gmd .gmd_r { width: 710px; height: 640px; background: url("../images/xqneirong.png") no-repeat; }
